<a href="https://colab.research.google.com/github/mohamedhossam23/Data-Prepration/blob/main/Sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np

data = pd.read_csv("heart-disease .csv")

In [4]:
data

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [7]:
x = data.drop("target", axis =1)
y = data["target"]

In [8]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [ ]:
clf.get_params()

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [12]:
x_train

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
77    59    1   1       140   221  ...      1      0.0      2   0     2
113   43    1   0       110   211  ...      0      0.0      2   0     3
270   46    1   0       120   249  ...      0      0.8      2   0     3
235   51    1   0       140   299  ...      1      1.6      2   0     3
79    58    1   2       105   240  ...      1      0.6      1   0     3
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
286   59    1   3       134   204  ...      0      0.8      2   2     2
12    49    1   1       130   266  ...      0      0.6      2   0     2
178   43    1   0       120   177  ...      1      2.5      1   0     3
150   66    1   0       160   228  ...      0      2.3      2   0     1
141   43    1   0       115   303  ...      0      1.2      1   0     2

[242 rows x 13 columns]

In [13]:
y_train

77     1
113    1
270    0
235    0
79     1
      ..
286    0
12     1
178    0
150    1
141    1
Name: target, Length: 242, dtype: int64

In [14]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [19]:
clf.score(x_train,y_train)

0.9958677685950413

In [20]:
clf.score(x_test,y_test)

0.8360655737704918

In [21]:
np.random.seed(42)

for i in range(10,100,10):
  print(f"trying model with {i} estimators..")
  clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
  print(f"model accuracy on test set: {clf.score(x_test,y_test)*100:.2f}%")

trying model with 10 estimators..
model accuracy on test set: 86.89%
trying model with 20 estimators..
model accuracy on test set: 81.97%
trying model with 30 estimators..
model accuracy on test set: 85.25%
trying model with 40 estimators..
model accuracy on test set: 83.61%
trying model with 50 estimators..
model accuracy on test set: 83.61%
trying model with 60 estimators..
model accuracy on test set: 83.61%
trying model with 70 estimators..
model accuracy on test set: 85.25%
trying model with 80 estimators..
model accuracy on test set: 81.97%
trying model with 90 estimators..
model accuracy on test set: 81.97%

In [22]:
import pickle

pickle.dump(clf,open("random fprst_model_1.pkl","wb"))